.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; width: 25px; }
.rTableCell.sequenceName{
	width: 70px;
	font-weight: bold;
}

div.rTableCell:hover ~ div:nth-child(1n)
{
	background-color: yellow;
}

.rTableCell.seqConservRes
{
	font-weight: bold;
}

.rTableCell.Interface
{
	//color:red;
	background-color: red;
}

.rTableCell.Core
{
	//color:green;
	background-color: Lime;
}

.rTableCell.SurfaceIn
{
	//color:blue;
	background-color: blue;
}

.rTableCell.SurfaceOut
{
	//color:navy;
	background-color: SkyBlue;
}